<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t39.30808-6/252208073_2496812853784308_8050940790567178174_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=NVH8-FHBBJAAX8lUKkc&_nc_ht=scontent.fsgn5-3.fna&oh=00_AfDUX1gTWXvQ6T8tJTD1NGcAWyqz7vufnBSCbJIgHLCZVQ&oe=64226BD5" alt="" class="user-avatar">
              Duy
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/create">Post Course</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/me/stored/courses">My Courses</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>

      </ul>
    </div>
  </div>
</nav>